<div class="container">
  <div class="card signup-form-card mt-5">
    <div class="card-header">
      <h2>Sign Up</h2>
    </div>
    <div *ngIf="serverSideErrors" class="card-body text-danger">
      <div *ngFor="let error of serverSideErrors | keyvalue">
        *{{error.key}} {{error.value}}
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="companyName" placeholder="Company Name" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.companyName.touched && registerForm.controls.companyName.errors }" />
          <ng-container *ngFor="let validation of validationMessages.companyName">
            <div class="invalid-feedback" *ngIf="registerForm.controls.companyName.hasError(validation.type) && (registerForm.controls.companyName.dirty || registerForm.controls.companyName.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="text" formControlName="ownerName" placeholder="Owner Name" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.ownerName.touched && registerForm.controls.ownerName.errors }" />
          <ng-container *ngFor="let validation of validationMessages.ownerName">
            <div class="invalid-feedback" *ngIf="registerForm.controls.ownerName.hasError(validation.type) && (registerForm.controls.ownerName.dirty || registerForm.controls.ownerName.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="text" formControlName="address" placeholder="Address" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.address.touched && registerForm.controls.address.errors }" />
          <ng-container *ngFor="let validation of validationMessages.address">
            <div class="invalid-feedback" *ngIf="registerForm.controls.address.hasError(validation.type) && (registerForm.controls.address.dirty || registerForm.controls.address.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="email" formControlName="email" placeholder="Email ID" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.email.touched && registerForm.controls.email.errors }" />
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="invalid-feedback" *ngIf="registerForm.controls.email.hasError(validation.type) && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="text" formControlName="phoneNumber" placeholder="Contact Number " class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.phoneNumber.touched && registerForm.controls.phoneNumber.errors }" />
          <ng-container *ngFor="let validation of validationMessages.phoneNumber">
            <div class="invalid-feedback" *ngIf="registerForm.controls.phoneNumber.hasError(validation.type) && (registerForm.controls.phoneNumber.dirty || registerForm.controls.phoneNumber.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="text" formControlName="gstNumber" placeholder="GST Number" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.gstNumber.touched && registerForm.controls.gstNumber.errors }" />
          <ng-container *ngFor="let validation of validationMessages.gstNumber">
            <div class="invalid-feedback" *ngIf="registerForm.controls.gstNumber.hasError(validation.type) && (registerForm.controls.gstNumber.dirty || registerForm.controls.gstNumber.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.password.touched && registerForm.controls.password.errors }" />
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="invalid-feedback" *ngIf="registerForm.controls.password.hasError(validation.type) && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
              *{{ validation.message }}</div>
          </ng-container>
        </div>
        <div>
          <button [disabled]="!registerForm.valid || loading" class="btn btn-primary">Sign up</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
